
body{
background-color:grey;
}
.main-content{
width:800px;
height:1300px;
padding:4rem;
background-color:white;
}
.profile{
width:800px;
height:300px;
}
.lower{
width:800px;
height:750px;
background-color:white;
}
.info{
height:800px;
width:905px;
}
table{
width:100%;
margin:0;
padding:0;
}
td{
margin:0;
padding-top:15px;
padding-right:5rem;
}
p{
padding:0;
margin:0;
}
.sub-title{
font-size:15px;
color:red;
width:75px;
background-color:pink;
}
.sub-title-1{
font-size:15px;
color:red;
width:20px;
background-color:pink;
}
.head-title{
font-size:13px;
text-align:right;
font-weight:bold;
line-height:1.4rem;
}
.year{
text-align:right;
font-size:10px;
padding-top:5px;
}
.profile-para-2{
font-size:13px;
padding-right:5px;
line-height:1.5rem;
}
img{
height:300px;
width:300px;
float:right;
border-radius: 150px 150px 0px 150px;
}
.image{
height:300px;
width:350px;
float:right;
}
.name{
font-family: "Times New Roman", Times, serif;
font-size:50px;
}
.name-1{
color:red;
font-family: serif;
font-size:50px;
}
.profile-name{
width:450px;
height:120px;

border-bottom:2px solid grey;
}
.profile-name-1{
width:350px;
height:120px;
float:left;									
}
.profile-name-2{
width:100px;
height:120px;
float:left;
}
.sub-name{
padding-top:6rem;
padding-left:1rem;
}
.grid-container {

  display: grid;
  grid-template-columns: 130px 190px auto;
  background-color: white;
  padding: 1px;
}
.grid-item {
  background-color:white;
  border: 10px solid white;
  
  font-size: 15px;
  text-align:left;
}
.blank{
width:500px;
height:60px;

}
