body{  
         background-color:grey;
        }
.main-content{
      height:1300px;
      width:1000px;
      background-color:white;    
}
.upper-profile{
width:1000px;
height:300px;
}
.below-profile{
padding-right:.1rem;
width:1000px;
height:900px;
float:left;
}
.left-profile{
width:200px;
height:900px;
float:left;
padding-top:2rem;
padding-right:20px;
padding-left:30px;
text-align:right;
}
.right-profile{
width:600px;
height:900px;
float:left;
padding:3rem;
margin-left:1rem;
border-radius:15px;
background-color:#00cc99;
}
.image{
width:280px;
height:300px;
float:left;
padding-right:1rem;
}
img{
width:250px;
height:300px;
border-radius:0 15px 15px 0;
}
.profile-name{
width:650px;
height:200px;
float:left;
}
.profile-name-l{
width:325px;
height:200px;
float:left;
}
.profile-name-m{
width:50px;
height:120px;
float:left;
padding-top:4.8rem;
background-color:#00cc99;
}
.profile-name-r{
width:250px;
height:200px;
float:left;
padding-top:3.8rem;
padding-left:10px;
}
p{
padding:0;
margin:0;
}
.name{
font-size:50px;
font-family:Calibri;
padding-top:4rem;
}
.sub-name{
font-size:25px;
font-family:Calibri;
}
.profile-name-m i{
font-size:15px;
padding-top:1.3rem;
padding-left:1rem;
}
.contact{
font-size:17px;
padding-top:1.4rem;
}
.title{
font-size:20px;
font-weight:bold;
padding-bottom:1rem;
}
.para{
padding-bottom:2rem;
font-size:16px;
line-height:1.3rem;
font-family:system-ui;
}
.edu-title{
font-size:16px;
font-weight:bold;
font-family:sans-serif;
}
.para-1{
font-size:16px;
font-family:system-ui;
line-height:30px;
}
.para-2{
font-size:15px;
line-height:1.4rem;
}

.bot-title{
font-size:25px;
font-weight:bold;
padding-left:1rem;
}
.right-title{
font-size:20px;
font-weight:bold;
padding-bottom:2.4rem;
}
.rt-h{
font-size:16px;
font-weight:bold;
font-family:sans-serif;
}
.ul{
padding:0;
}