
*{
font-family:Arial, sans-serif;
}
body{
background-color:black;
}
.main-content{
height:1650px;
width:1000px;
background-color:white;
border:2rem solid #f2f2f2;
}
.profile{
height:200px;
width:1000px;
border-bottom:3rem solid #f2f2f2;

}
.bar{
height:2rem;
width:1000px;
background-color:#e67300;
}
.content{
height:820px;
width:1000px;

}
.left-content{
height:755px;
width:400px;
float:left;
padding-right:2rem;
padding-left:2rem;
padding-top:1rem;
}
.right-content{
height:755px;
width:500px;
float:left;
padding-right:2rem;
padding-top:.6rem;
}
.name{
font-size:2.8rem;
letter-spacing:2px;
}
.sub-name{
font-size:25px;
color:#ffcc99;
padding-bottom:1rem;
letter-spacing:2px;
}
.left-content-bar{
height:30px;
width:100%;
background-color:#f2f2f2;
}

.title-name{
font-size:20px;
font-weight:bold;
float:left;
letter-spacing:1px;
padding-top:1em;

}
table{
width:100%;
padding-top:.4rem;
}
td{
padding-top:10px;
width:50%;
}
.skill-title{
font-family:Times New Roman;
font-size:18px;
font-weight:bold;
}
.sub-title{
font-size:16px;
color:#ffcc99;
line-height:25px;
font-weight:bold;
}
.sub-title2{
font-size:15px;
color:black;
line-height:25px;
}
.date{
font-size:17px;
color:#ffcc99;
font-weight:bold;
}
.profile-image{
width:250px;
height:200px;
float:left;

}
.profile-address{
width:250px;
height:200px;
margin-left:3rem;
float:left;

}
.contact{
width:300px;
height:200px;
margin-left:5rem;
float:left;
}
.icon{
width:200px;
height:200px;
float:left;

}
.icon-sign{
width:80px;
height:125px;
margin-left:200px;
margin-top:40px;
background-color:#e67300;
}
.icon-title{
font-size:20px;
font-weight:bold;
color:white;
padding-top:3rem;
text-align:center;
}
img{
width:185px;
height:125px;
padding-top:35px;
padding-left:35px;
}
.address-title{
font-size:20px;
color:#ffcc99;
font-family:system-ui;
padding-top:.6rem;
font-weight:bold;
}
.address-sub-title{
font-size:15px;
color:black;
font-family:verdana;
line-height:200%;
padding-top:.4rem;
padding-bottom:1rem;
font-weight:bold;
}
.contact-title{
font-size:20px;
color:#ffcc99;
font-family:system-ui;
padding-top:1rem;
font-weight:bold;
}
.contact-title2{
font-size:20px;
font-family:system-ui;
color:#ffcc99;
font-weight:bold;
}
.contact-sub-title{
font-size:15px;
color:black;
font-family:verdana;
line-height:200%;
padding-top:1rem;
font-weight:bold;
}
.contact-sub-title2{
font-size:15px;
color:black;
font-family:verdana;
font-weight:bold;
}
.para{
  font-size:16px;
padding-top:4.3rem;
padding-bottom:2rem;
line-height:1.5rem;
font-family:system-ui;
}
